body{
    padding: 5rem;
}

.border{
    border: solid;
    border-radius: 15px;
    padding: 2.5rem;
}

header{
    text-align: center;
    padding: 2rem;
}

.middle{
    display:grid;
    margin-right: 3.5rem;
}

.timeline-container{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.timestamp{
    color: gray;
    text-align: right;
    margin-right: 3.5rem;
}

.activity{
    color: blue;
}

.bottom{
    text-align: center;
    margin-top: 5rem;
    margin-right: 3.5rem;
}

.link-changelog-site{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
}