main{
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    flex-wrap: wrap;
}

.tabs{
    display: flex;
    gap: 5px;
    margin: 0px;
    flex-wrap: wrap;
}

.tab button{
    border: none;
    background-color: white;
    opacity: 0.5;
}

.tab div{
    height: 1px;
    background-color: black;
    border: 1px solid;
    visibility: hidden;
    transition: all  ease;
}

.tab button.active{
    opacity: 1;
}

.tab button.active + .line {
    visibility: visible;
    opacity: 1;
}


.tab:hover div{
    visibility: visible;
    transition:  ease;
}


.tab-content {
    display: none;
    background-color: black;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 2px;
}

.tab-content.active {
    display: block;
}